* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.quote {
    background-color: grey;
}

.navbar,
.footer,
header {
    background-color: #1F2937;
}

.navbar {
    display: flex;
    justify-content: space-around;
}

.navbar h1 {
    font-size: 24px;
    color: #F9FAF8;
    margin-top: 10px;
}

.navbar ul {
    display: flex;
    gap: 16px;
}

.navbar ul li {
    list-style-type: none;
    margin-top: 10px;
}

.navbar ul li a {
    text-decoration: none;
    color: #F9FAF8;
    font-size: 20px;
    
}


.container,
.main  {
    display: flex;
    flex: 1;
}

header  {
    display: flex;
    gap: 10%;
    flex-wrap: wrap;
    padding: 25px;
    
}
header .container {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
}

header .container h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

header .container small {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 10px;
}

button {
    border-radius: 25px;
    padding: 20px;
    width: 200px;
    height: 50px;
    background-color: #3882F6;
}

header {
    margin-bottom: 20px;
}

.main .container  {
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.items{
    display: flex;
    gap: 30px;
    margin: auto 0;
    flex-wrap: wrap;
    align-content: center;

}

.item {
    max-width: 400px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 20px solid #4b90ff ;
    border-radius: 50%;
}


.item-container p {
    text-wrap: wrap;
    max-width: 300px;
    text-align: center;
    margin: 15px 0;
}
.item img {
    border-radius: 50%;
}


.quote q {
    text-wrap: wrap;
    width: 50%;
}
.quote  {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;

}
.quote p {
    margin-left: 48%;
}

.call-to-action {
    display: flex;
    flex: 1;
}

.call-to-action .container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner {
    
    display: flex;
    background-color: #4b90ff;
    /* border-radius: 25px; */
    border: 2px solid #4b90ff;
    padding: 50px;
    width: 50%;
    flex-wrap: wrap;
    align-content: center;
}

.banner button {
    margin-left: auto;
    color: #F9FAF8;
    border: 2px solid;
    
}


.footer {
    color: #F9FAF8;
    height: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
}